.grid-container{ 
    grid-template-areas:
    ". encabezado encabezado ."
    "main main main main"
    "footer footer footer footer";
}
.grid-container .encabezado{
    grid-area: encabezado;
    height: 10em;
}
#search-tab {
    display: flex;
    justify-content: space-around;
    border: 1px solid #FFCC00;
    border-radius: 0.2em;
    align-items: center;
    background-color: whitesmoke;
    margin: 2em auto;
}
#search-tab  button i{
    color: whitesmoke;  
}
#search-tab  button {
    margin: 0; 
}
#search-tab input {
    width: 100%;
    padding: 1em;
    height: 2.5em;
    color: #24303c;
    outline: none;
    font-size: 1em;
    border: none;
}
#search-tab  input:focus, #search-tab button:active, .suscripcion input:focus {
    box-shadow: 0px 0px 5px 1px #24303c;
}

#search-tab  button {
    color: white;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #FFCC00; 
    border-radius: 0 0.2em 0.2em 0;
}

.grid-container main{
    grid-area: main;
    /* margin: 2em auto; */
}

.grid-container footer{
    grid-area: footer;
}
.cards-container h1{
    text-align: center;
    width: 80vw;
}
.trailer-busqueda {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

@media all and (max-width: 380px){
    .grid-container{
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; 
    grid-template-areas:
    "encabezado "
    "main"
    "footer";
    }
    .trailer-busqueda {
        flex-wrap: wrap;
        justify-content: center;
      }
    .trailer-busqueda iframe {
      width: 160px;
      height: 90px;
      margin: 1.5em auto;
    }
}

@media screen and (min-width:380px) and (max-width: 600px){
    .grid-container{
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto; 
        grid-template-areas:
        "encabezado "
        "main"
        "footer";
        }
        #search-tab {
            width: 80%;
        }
        .trailer-busqueda {
            flex-wrap: wrap;
            justify-content: center;
        }
        .trailer-busqueda iframe {
          width: 260px;
          height: 146px;
          margin: 1.5em auto;
        }
}

@media screen and (min-width:600px) and (max-width: 768px){
    .grid-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "encabezado  encabezado"
            " main main"
            "footer footer";
    }
    .trailer-busqueda {
            flex-wrap: wrap;
            justify-content: center;
        }
    .trailer-busqueda iframe {
      width: 460px;
      height: 258px;
      margin: 1.5em auto;
    }
    #search-tab {
        width: 70%;
    }
}

@media screen and (min-width:768px) and (max-width: 1024px){
 .grid-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "encabezado  encabezado"
            " main main"
            "footer footer";
    }
    .trailer-busqueda {
            flex-wrap: wrap;
            justify-content: center;
        }
    .trailer-busqueda iframe {
      width: 460px;
      height: 258px;
      margin: 1.5em auto;
    }
    #search-tab {
        width: 70%;
    }
} 