.grid-container{ 
    grid-template-areas:
    ". . . ."
    "main main main main"
    "footer footer footer footer";
}

.formulario{
    width: 60%;
    margin: 3em auto;
    background-color: #24303c95; 
    opacity: 0.8;
    border-radius: 3%;
    padding: 2em;
    color: whitesmoke;
    font-weight: bold;
    box-shadow: 0px 0px 6px 0.5px #FFCC00;
    text-align: center;  
}

.formulario h3{
    background-color: #24303c;
    margin-bottom: 2em;
    padding: 0.5em;
    border-radius: 4px;
    font-variant: small-caps;
    letter-spacing: 0.3em;
    color: whitesmoke;
    
}

.formulario label{
    display: block;
    margin-bottom: 0.5em;
    font-size: 0.8em;
    text-align: left;
}
.formulario .pie-input{
    width: initial;
    display: inline;
}
.formulario #pie-button{
    display: inline-block;
    margin-top: 2em; 
}
.formulario input, .formulario textarea {
    width: 100%;
    border-radius: 0.3em;
    border: 1px solid grey;
    padding: 0.6em;
    margin-bottom: 1.3em;
    
} 
.formulario p{
    font-size: 0.6em;
    text-align: left;
}
.formulario #pie-button button{
    color: #24303c; 
    background-color: #FFCC00;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    margin: 0 1em;
    font-size: 1em;  
}   

.formulario input:focus, .formulario textarea:focus{
    background-color: #24303c;
    color:#FFCC00;
    outline: none;
}
.formulario #pie-button button:hover{
    background-color: #24303c ;
    color:#FFCC00;
}

.formulario input:focus, .formulario textarea:focus{
    box-shadow: 3px 2px 5px #24303c
}
/* LOGIN - REGISTRO */
.formulario #link-login, .formulario #link-registro{
    display: block;
    margin-top: 1.5em;
    font-size: 1em;
    text-align: right;
    border: none;
    outline: none;
    background-color: transparent;
    margin-right: 0.5em;
    color:#FFCC00;
}

.formulario #link-login:hover, .formulario #link-registro:hover{
    text-decoration: underline;
    color: whitesmoke; 
}
#registro{
    display: none;
}

@media all and (max-width: 380px){
    .grid-container{
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; 
    grid-template-areas:
    "encabezado "
    "main"
    "footer";
    }
    .formulario{
        width: 90%;
    }
    .formulario h3{
        letter-spacing: 0;        
    }
    .formulario #pie-button button{
        padding: 0.3em;
        margin: 0 0.4em;
        font-size: 0.8em;  
    }  

}

@media screen and (min-width:380px) and (max-width: 600px){
    .grid-container{
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto; 
        grid-template-areas:
        "encabezado "
        "main"
        "footer";
        }
        .formulario{
            width: 90%;
        }
        .formulario h3{
            letter-spacing: 0;        
        }
        .formulario #pie-button button{
            padding: 0.4em;
            margin: 0 0.6em;
            font-size: 0.9em;  
        }  
}

@media screen and (min-width:600px) and (max-width: 768px){
    .grid-container {
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "encabezado  encabezado"
            " main main"
            "footer footer";
    }
    .formulario{
        width: 80%;
    }
    .formulario h3{
        letter-spacing: 0;        
    }
    .formulario #pie-button button{
        padding: 0.4em;
        margin: 0 0.8em;
        font-size: 1em;  
    } 
}

