@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    color: white;
    font-family: 'Lato', sans-serif;
    min-height: 100%;
    color: #FFCC00;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto; 
    grid-template-areas:
    "encabezado encabezado encabezado encabezado"
    "main main main main"
    "footer footer footer footer";
    background: url(../img/fondo.jpg);
}
#logoimg {
    width: 6.8em;
}
#logo-fijo {
    width: 6.8em;
    position: fixed;
    bottom: 15px;
    right: 15px;    
}

#logoimg:hover, #iconos:hover, footer #info-gral-footer .redes i:hover  {
    transition: 0.3s;
    transform: scale(1.2);
}

header{
    grid-area: header;
    display: grid;
    position: sticky; 
    top: 0px; 
    z-index: 1000; 
    font-family:'Alkatra', cursive;
}

header nav {
    background-color: #24303c;
    color: white;
    margin: 0;
    /* padding: 1em; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-shadow: 2px 2px 5px gray;
    transition: 0.3s;
    height: 6em;
}

header nav ul{
    display: flex;
}

header nav li { 
    color: rgb(255, 255, 255);
    padding: 50px;
    font-variant: small-caps;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    font-weight: bold; 
    list-style-type: none;   
}
header nav a { 
    text-decoration: none;   
}

header nav li:hover {
    transition: 0.3s;
    transform: scale(1.2);

}
 header nav i{
    color: whitesmoke;
    margin: 0.5em;
}
/* ENCABEZADO */
.grid-container .encabezado{
    grid-area: encabezado;
    margin-left: 2em;
    margin-right: 2em;

}
.grid-container .encabezado #nombre-sitio {
    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 0.3em;
    text-shadow: 1px 1px 5px #FFCC00;
    color: black;
}
.grid-container .encabezado #subtitulo-main{
    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 0.3em;
    font-size: 3.5em;
    text-align: justify;
    margin: 0.5em auto;
}
.grid-container .encabezado #presentacion-main {
    font-size: 1.5em;
    text-align: left;
   /*  margin-bottom: 3em; */
    line-height: 1.5em;
}

/* MAIN */
.grid-container main{
    grid-area: main;
}
.cards-container, .cards-container-peliculas{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto 3em auto;
}
#cards{
    border: none;
    width: 12em;
    box-shadow: 0px 0px 6px 0.5px #FFCC00;
    border-radius: 0.5em;
    margin: 1.5em;   
}
#cards img{
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}

#cards:hover {
    transform: scale(1.1);
    transition: 1.5s ease;
    cursor: pointer; 
}
#cards-peliculas {
    border: none;
    width: 90%;
    height: auto;
    padding: 1.2em;
    margin: 3em auto;
    font-size: 0.9em;
    box-shadow: 0px 0px 6px 0.5px #FFCC00;
    border-radius: 0.5em;
    background-color: #24303c95;
    color: white; 
    display: flex;
    align-items: center; 
}
#cards-peliculas img{
    width: 20em;  
    padding: 0; 
    border-radius: 0.5em;
}
#cards-peliculas #titulo{
    display: block;
    margin: 1.5em auto;
    padding: 1em;
    text-align: center;
}
#cards-peliculas #titulo h2{
    font-size: 3em;
    text-align: center;
    color: #FFCC00;
    text-shadow: 2px 2px 3px whitesmoke;
    margin-bottom: 0.4em;
    letter-spacing: 0.2em;

}
#cards-peliculas #titulo h3{
    text-align: center;
}
#cards-peliculas #titulo p{
    text-align: justify;
    margin: 1.5em 1.5em;
    line-height: 1.5em;

}

#cards-peliculas #genero-estreno{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#cards-peliculas #genero-estreno span{
   font-weight: bold;
}
#trailer iframe{
    margin: 3em auto;
    display: flex;
}

/* FOOTER */
.grid-container footer{
    background-color: #24303c;
    color: whitesmoke;
    grid-area: footer;
}

.grid-container footer #info-gral-footer{
     display: flex;
     justify-content: space-around;
 }
 .grid-container footer #info-gral-footer .info, .grid-container footer #info-gral-footer .suscripcion{
     margin: 1em;
     padding: 0;
     line-height: 1.3em;
     font-size: 0.9em;
 }
 .grid-container footer .copy{
     text-align: center;
     color: white;
     padding: 1em;
 
 }
 
 footer #info-gral-footer .info h4, footer #info-gral-footer .suscripcion h4, footer #info-gral-footer .redes h4 {
     margin-bottom: 0.8em;
     font-variant: small-caps;
     font-size: 1.3em;
     letter-spacing: 0.2em;
     font-family:'Alkatra', cursive; 
     text-shadow: 2px 2px 5px gray; 
 }
 footer #info-gral-footer .info a, footer #info-gral-footer .contacto a {
     text-decoration: none;
     color: whitesmoke; 
 }
 
 footer #info-gral-footer .info li {
     list-style-type: '>  '; 
     margin-bottom: 0.4em; 
 }
 footer #info-gral-footer .info li::marker{
     font-size: 0.6em;
 }
 footer #info-gral-footer .info a:hover{
     text-decoration: underline;
     color: #FFCC00;
 }
 footer #info-gral-footer .redes i{
     color: white;
     font-size: 1.1em;
     margin-right: 1em;
 }
 
 footer #info-gral-footer .redes {
     margin-top: 1.8em;
 }
 
 footer #info-gral-footer .suscripcion input{
     width: 50%;
     border-radius: 0.2em;
     padding: 0.3em;
     height: 2.2em;
     color: #24303c;
     outline: none;
     font-size: 0.8em;
     border: none;
 
 }
 footer #info-gral-footer .suscripcion input[type="submit"] {
     width: auto;
     height: 2.2em;
     background-color: #FFCC00;
     border: none;
     outline: none;
     font-weight: bold;
 }
 
 /* Media Queries EJEMPLO*/
 @media all and (max-width: 380px){
    .grid-container{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto; 
    grid-template-areas:
    "encabezado "
    "main"
    "footer";
    width: 100%;
    }
    #cards{
        width: 23em;
    }
    #logoimg{
        width: 5em;
    }
    header nav{/* ver */
        font-size: 0.5em;
        letter-spacing: 0;
        height: 35px;
        padding: 0.2em;  
    }
    
    header nav ul li a{/* ver */
        font-size: 1.1em;
    } 
    .grid-container .encabezado #subtitulo-main{
        font-size: 1.3em;
    }
    .grid-container .encabezado #presentacion-main{
        font-size: 1em;

    }
    .grid-container .encabezado #nombre-sitio{
        font-size: 0.8em;

    }
        
    footer #info-gral-footer{
        flex-direction: column;
        text-align: center;
        font-size: 0.7em;
    }
    footer .copy{
        font-size: 0.7em;
    }
    header nav ul a li{
        padding: 1em 0.4em;
        
    }
    .foot-inf {
              display: inline;
              padding: 1em;
              font-size: 1.2em;
          }
   
   footer div h4{
    text-align: center;
   }
   .suscripcion-h4{
    font-size: 1.8em !important
   }
   .suscripcion a i{
    padding-left: 1em;
    padding-right: 1em;

   }
   #logo-fijo{
    display: none;
   }
   

}





@media screen and (min-width:380px) and (max-width: 512px) {
.grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "encabezado "
            "main"
            "footer";
        width: 100%;
    }

    #cards {
        width: 23em;
    }

    #logoimg {
        width: 5em;
    }

    header nav {
        /* ver */
        font-size: 0.6em;
        letter-spacing: 0px;
        height: 35px;
        padding: 0.2em;
    }

    header nav ul li a {
        /* ver */
        font-size: 1.1em;
    }

    .grid-container .encabezado #subtitulo-main {
        font-size: 1.3em;
    }

    .grid-container .encabezado #presentacion-main {
        font-size: 1em;

    }

    .grid-container .encabezado #nombre-sitio {
        font-size: 0.8em;

    }

    footer #info-gral-footer {
        flex-direction: column;
        text-align: center;
        font-size: 0.7em;
    }

    footer .copy {
        font-size: 0.7em;
    }

    header nav ul a li {
        padding: 1em 0.4em;
    }

    .foot-inf {
        display: inline;
        padding: 1.4em;
        padding-left: 20px;
    }
    
    footer div h4 {
        text-align: center;
    }

    .suscripcion-h4 {
        font-size: 1.9em !important
    }

    .suscripcion a i {
    padding-left: 1.3em;
    padding-right: 1.3em;

    }

    #logo-fijo {
        display: none;
    }


}


@media screen and (min-width:512px) and (max-width: 599px) {
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "encabezado "
            "main"
            "footer";
        width: 100%;
    }

    #cards {

        width: 25em;
    }

    #logoimg {
        width: 5em;
    }

    header nav {
        /* ver */
        font-size: 0.8em;
        letter-spacing: 0px;
        height: 35px;
        padding: 0.2em;
    }

    header nav ul li a {
        /* ver */
        font-size: 1.1em;
    }

    .grid-container .encabezado #subtitulo-main {
        font-size: 2em;
    }

    .grid-container .encabezado #presentacion-main {
        font-size: 1em;

    }

    .grid-container .encabezado #nombre-sitio {
        font-size: 0.8em;

    }

    footer #info-gral-footer {
        flex-direction: column;
        text-align: center;
        font-size: 1em;
    }

    footer .copy {
        font-size: 1em;
    }

    header nav ul a li {
        padding: 1em 0.4em;
    }

    .foot-inf {
        display: inline;
        padding: 1.4em;
        padding-left: 20px;
    }

    footer div h4 {
        text-align: center;
    }

    .suscripcion-h4 {
        font-size: 1.9em !important
    }

    .suscripcion a i {
        padding-left: 7em;


    }

    #logo-fijo {
        display: none;
    }
}

@media screen and (min-width:600px) and (max-width: 768px) {
.grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "encabezado "
            "main"
            "footer";
        width: 100%;
    }

    #cards {

        width: 40%;
    }

    #logoimg {
        width: 5em;
    }

    header nav {
        /* ver */
        font-size: 0.8em;
        letter-spacing: 0px;
        height: 35px;
        padding: 0.2em;
    }

    header nav ul li a {
        /* ver */
        font-size: 1.1em;
    }

    .grid-container .encabezado #subtitulo-main {
        font-size: 2em;
    }

    .grid-container .encabezado #presentacion-main {
        font-size: 1em;

    }

    .grid-container .encabezado #nombre-sitio {
        font-size: 0.8em;

    }

    footer #info-gral-footer {
        flex-direction: column;
        text-align: center;
        font-size: 1em;
    }

    footer .copy {
        font-size: 1em;
    }

    header nav ul a li {
        padding: 1em 0.4em;
    }

        .foot-inf {
            display: inline;
            padding: 1.4em;
            padding-left: 20px;
        }
    
        footer div h4 {
            text-align: center;
        }
    
        .suscripcion-h4 {
            font-size: 1.9em !important
        }
    
        .suscripcion a i {
            padding-left: 7em;
    
    
        }
    
        #logo-fijo {
            display: none;
        }
}

@media screen and (min-width:769px) and (max-width: 1024px) {
    .grid-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto;
        grid-template-areas:
            "encabezado "
            "main"
            "footer";
        width: 100%;
    }

    #cards {

        width: 40%;
    }

    #logoimg {
        width: 5em;
    }

    header nav {
        /* ver */
        font-size: 0.8em;
        letter-spacing: 0px;
        height: 35px;
        padding: 0.2em;
    }

    header nav ul li a {
        /* ver */
        font-size: 1.1em;
    }

    .grid-container .encabezado #subtitulo-main {
        font-size: 3em;
    }

    .grid-container .encabezado #presentacion-main {
        font-size: 1.5em;

    }

    .grid-container .encabezado #nombre-sitio {
        font-size: 0.8em;

    }

    footer #info-gral-footer {
        flex-direction: column;
        text-align: center;
        font-size: 1em;
    }

    footer .copy {
        font-size: 1em;
    }

    header nav ul a li {
        padding: 1em 0.4em;
    }

    .foot-inf {
        display: inline;
        padding: 1.4em;
        padding-left: 20px;
    }

    footer div h4 {
        text-align: center;
    }

    .suscripcion-h4 {
        font-size: 1.9em !important
    }

    .suscripcion a i {
        padding-left: 7em;


    }

    #logo-fijo {
        display: none;
    }
}
 