.grid-container{ 
    grid-template-areas:
    "encabezado main main main"
    "footer footer footer footer";
}

.formulario{
    width: 80%;
    margin: 2em 0;
    background-color: #24303c95; 
    opacity: 0.8;
    border-radius: 3%;
    padding: 2em;
    color: whitesmoke;
    font-weight: bold;
    box-shadow: 0px 0px 6px 0.5px #FFCC00;
    text-align: center;  
}

/* .formulario */ h3{
    background-color: #24303c;
    margin-bottom: 2em;
    padding: 0.5em;
    border-radius: 4px;
    font-variant: small-caps;
    letter-spacing: 0.3em;
    color: whitesmoke;
    
}

.formulario label{
    display: block;
    margin-bottom: 0.5em;
    font-size: 0.8em;
    text-align: left;
}

.formulario .pie-input{
    width: initial;
    display: inline;
}
.formulario #pie-button{
    display: inline-block;
    margin-top: 2em; 
}
   
.formulario input, .formulario textarea {
    width: 100%;
    border-radius: 0.3em;
    border: 1px solid grey;
    padding: 0.6em;
    margin-bottom: 1.3em;
    
} 
.formulario p{
    font-size: 0.6em;
    text-align: left;
}
.formulario #pie-button button{
    color: #24303c; 
    background-color: #FFCC00;
    padding: 0.5em;
    border-radius: 0.5em;
    border: none;
    margin: 0 1em;
    font-size: 1em;
    
}   

.formulario input:focus, .formulario textarea:focus{
    background-color: #24303c;
    color:#FFCC00;
    outline: none;
}
.formulario #pie-button button:hover{
    background-color: #24303c ;
    color:#FFCC00;
}

.formulario input:focus, .formulario textarea:focus{
    box-shadow: 3px 2px 5px #24303c
}
/* LOGIN - REGISTRO */
/* .formulario #link-login, */ #link-registro, #link-listado, #link-actualizar, #link-eliminar{
    display: inline-block;
    text-decoration: none;   
    margin: 1.5em;
    margin-top: 2.5em;
    text-decoration: none;
    font-size: 1em;
   /*  border: none;
    outline: none; */
    background-color: transparent;
    color:#FFCC00;
}

/* .formulario #link-login:hover, */#link-registro:hover, #link-listado:hover, #link-actualizar:hover,#link-eliminar:hover{
    text-decoration: underline;
    color: whitesmoke; 
}
#login{
    display: none;
}

/* animacion */
@keyframes miMovimiento {
   0%{
       transform: translateY(-15em);
   }
   50%{
       transform: translateY(15em);
       
   }
   75%{
       transform: translateY(-25em);
   }
   100%{
       transform: translateY(25em);
   }
}
 #animacion-logo{
    width: 7em;
    animation-name: miMovimiento;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-play-state: running; 
} 

@media screen and (max-width:380px) {
    .grid-container{ 
        grid-template-columns: 100%;
        grid-template-areas:
        "encabezado ."
        "main main"
        "footer footer";
    }
    .formulario{
        width: 80%;
        margin: 1.5em auto;
    }
    @keyframes miMovimiento {
        0%{
            transform: translateX(-10em);
        }
        50%{
            transform: translateX(3em);
            
        }
        75%{
            transform: translateX(-3em);
    
        }
        100%{
            transform: translateX(15em);
    
        } 
    }
    #animacion-logo{
        width: 4em; 
    } 
    .formulario h3{
        letter-spacing: 0;        
    }
    .formulario #pie-button button{
        padding: 0.3em;
        margin: 0 0.4em;
        font-size: 0.8em;  
    }  
}
@media screen and (min-width:380px) and (max-width: 600px){
    .grid-container{ 
        grid-template-columns: 100%;
        grid-template-areas:
        "encabezado "
        "main "
        "footer ";
    }
    .formulario{
        width: 70%;
        margin: 1.5em auto;
    }
    .formulario h3{
        letter-spacing: 0;        
    }
    .formulario #pie-button button{
        padding: 0.4em;
        margin: 0 0.6em;
        font-size: 0.9em;  
    }  
    @keyframes miMovimiento {
        0%{
            transform: translateX(-20em);
        }
        50%{
            transform: translateX(3em);
            
        }
        75%{
            transform: translateX(-3em);
    
        }
        100%{
            transform: translateX(25em);
    
        }
    }
    #animacion-logo{
        width: 5.5em; 
    } 
}
@media screen and (min-width:600px) and (max-width: 768px){
    .grid-container{ 
        grid-template-columns: 20% 40% 40%;
        grid-template-areas:
        "encabezado main main"
        "footer footer footer";
    }
    .formulario{
        width: 90%;
        margin: 1.5em auto;
    }
    .formulario h3{
        letter-spacing: 0.1;        
    }
    .formulario #pie-button button{
        padding: 0.5em;
        margin: 0 0.8em;
        font-size: 1em;  
    }  
    #animacion-logo{
        width: 6em; 
    } 
} 
@media screen and (min-width:768px) and (max-width: 1024px){
    .grid-container{ 
        grid-template-columns: 20% 40% 40%;
        grid-template-areas:
        "encabezado main main"
        "footer footer footer";
    }
    .formulario{
        width: 90%;
    }
    .formulario h3{
        letter-spacing: 0.1;        
    }
    .formulario #pie-button button{
        padding: 0.5em;
        margin: 0 0.8em;
        font-size: 1em;  
    }  
    #animacion-logo{
        width: 6em; 
    } 
} 

