*{
    box-sizing: border-box;
}

#cards{
    text-align: center;
    background-color: mediumseagreen;
    width: 95%;
    padding: 20px;
    margin: 20px;

}
.imagenes{
    float: left;
    width: 400px;
    height: 480px;
    border-radius: 20px;
    margin: 50px;
    border: 5px solid white;
}


.descripcion-peli{
    margin-top: 0;
    margin-left: 50px;
    text-align: left;
    padding: 10px;
    text-align: justify;
}

h2{
    margin-top: 50px;
    text-align: left;
}

.trailer{
    display: block;
    margin-top: 8%;
    width: 450px;/*Recordar sacar el size del iframe*/
    height: 256px;/*Recordar sacar el size del iframe*/
   

}
