* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black
}

header {
    display: grid;
    color: white;
}

main {
    text-align: center;
    width: 100%;
    color: antiquewhite;
}

li {
    display: inline-block;
    color: rgb(255, 255, 255);
    background-color: #423c35;
    border-radius: 10%;
}
h1 {
    color: antiquewhite;
    font-size: 1.5rem;
}

h3 {
    margin-top: 0px;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
    border-width: 0px 3px 3px 3px;
    border-color: aliceblue;
    border-style: solid;
    /* border-color: aliceblue;
    border-bottom-style: solid;
    border-left: solid;
    border-right: solid; */
}





img,
svg {
    height: 25px;
}

.nav {
    background-color: #ff9f1c;
    color: white;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;


}

.footer{

        background-color: #ff9f1c;
        text-align: center;
        margin: 3rem auto;
        width: 100%;
        position: fixed;

}
.search-tab {
    display: flex;
    justify-content: flex-end;

}


.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#logo {
    display: block;

    background-color: black;
}

#logoimg {

    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 1px;
    width: 70px;
    height: 30px;

}

/*Tuve que separar el div y la imagen o se editaba todo a la vez*/


.imagen-peli {
    margin-bottom: 0px;
    width: 20rem;
    height: 25rem;
    padding: 1rem, 1rem;
    border: 2px, solid, white;
    margin-bottom: ;
}


#cards{
    text-align: center;
    background-color: wheat;
    width: 95%;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

}
.imagenes{
    float: left;
    width: 400px;
    height: 480px;
    border-radius: 20px;
    margin: 50px;
    border: 5px solid white;
}


.descripcion-peli{
    background-color: #4c7c77;
    margin-top: 5%;
    margin: 50px;
    text-align: left;
    padding: 20px;
    text-align: justify;
    
    
}


.trailer{
    display: block;
    margin-top: 5%;
    width: 450px;/*Recordar sacar el size del iframe*/
    height: 256px;/*Recordar sacar el size del iframe*/
   

}

@media screen and (max-width: 1660px) {
    
    *{font-size: 1.1rem;}

    .search-tab {
        justify-content: end;
    }

    h1 {
        text-align: start;

    }
    
}


@media screen and (max-width: 1408px) {
    


    }



 @media screen and (max-width: 425px) {
     .search-tab {
         justify-content: center;

     }

     h1 {
         text-align: center;
     }
 }

 @media screen and (max-width: 320px) {
     .imagen-peli {
         margin-bottom: 0px;
         width: 15rem;
         height: 20rem;
     }

 }