@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    position: relative;
    padding-bottom: 15em;
   /*  min-height: 100vh; */
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    background: url(../img/fondo.jpg);
    }
header{
    position: sticky;
    top: 0px; 
    width: 100vw;  
    z-index: 1000;
    font-family:'Alkatra', cursive;
}
nav {
    background-color: #24303c;
    color: white;
    margin: 0;
    height: 5em;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: end;
    text-shadow: 2px 2px 5px gray;
    transition: 0.3s;

}
nav li { 
    display: inline-block;
    color: rgb(255, 255, 255);
    margin: 2em;
    font-variant: small-caps;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    font-weight: bold;
    
}

nav li:hover {
    transition: 0.3s;
    transform: scale(1.2);
}
nav i{
    color: whitesmoke;
    margin: 0.5em;
}

#logoimg:hover, #iconos:hover, footer #info-gral-footer .redes i:hover  {
    transition: 0.3s;
    transform: scale(1.2);
}


#search-tab {
    display: flex;
    justify-content: space-around;
    border: 1px solid #FFCC00;
    border-radius: 0.2em;
    align-items: center;
    background-color: whitesmoke;
}
#search-tab  button i{
    color: whitesmoke;
    
}
#search-tab input {
    padding: 1em;
    height: 2.5em;
    color: #24303c;
    outline: none;
    font-size: 1em;
    border: none;
}
#search-tab  input:focus, #search-tab button:active, .suscripcion input:focus {
    box-shadow: 0px 0px 5px 1px #24303c;
}

#search-tab  button {
    color: white;
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    background-color: #FFCC00; 
    border-radius: 0 0.2em 0.2em 0;
}
/* ver */
h1 {
    font-family: 'Dela Gothic One', cursive;
    letter-spacing: 0.8em;
    font-size: 3em;
    margin: 1em auto;
    text-shadow: 2px 2px 5px #FFCC00;
    text-align: center;
}
/* ver */
  /* h3 {
    margin-top: 0px;
    margin-bottom: 1rem;
    color: white;
    text-align: center;
    border-width: 0px 3px 3px 3px;
    border-color: aliceblue;
    border-style: solid;
  border-color: aliceblue;
    border-bottom-style: solid;
    border-left: solid;
    border-right: solid; 
}*/

 
/* CARDS */
main{
    width: 100%;
    text-align: center;
    
}
.cards-container, .cards-peliculas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#cards{
    display: inline-block;
    border: none;
    width: 20em;
    height: 30em;
    /* padding: 0.5em; */
    margin: 2.5em 1em;
    font-size: 0.9em;
    box-shadow: 0px 0px 6px 0.5px #FFCC00;
    border-radius: 0.5em;
    overflow: hidden;
    background-color: #24303c95;
    color: white;
}

#cards-peliculas {
    border: none;
    width: 100%;
    padding: 0.5em;
    margin: 2em 1em;
    font-size: 0.9em;
    box-shadow: 0px 0px 6px 0.5px #FFCC00;
    border-radius: 0.5em;
    background-color: #24303c95;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#cards-peliculas #info-genero{
    border: 1px solid red;
}
#cards-peliculas #info-titulo{
    border: 1px solid yellow;
}
#cards-peliculas #poster{
    border: 1px solid green;
}

#cards img{
    width: 100% ;
    /* padding: 0;
    margin: 0; */
}
#cards-peliculas img {
    width: 20em;
    /* margin: 0 auto;
    padding: 0; */ 
}


#cards:hover {
    transform: scale(1.2);
    overflow: hidden;
    transition: 1.5s ease;
    
}
#logoimg {
    margin-top: 0.313em;
    margin-left: 0.313em;
    margin-bottom: 0.063em;
    width: 6.8em;
    
}


/* MEDIA QUERIES */
/* @media screen and (max-width: 1660px) {
    
    *{font-size: 1.1rem;}

    .search-tab {
        justify-content: end;
    }

    
    h1 {
        text-align: start;

    }
    
}


@media screen  and (max-width: 1408px) and (max-height: 1240) {
    

 .imagen-peli{
    align-items: flex-start;
 }
    .cardtext {
        max-width: 30%;
      
    }
    .trailer{
        max-width: 100%;
        margin: auto;
    }

    }



 @media screen and (max-width: 425px) {
     .search-tab {
         justify-content: center;

     }
          .cardtext {
              max-width: 100%;
          }

     h1 {
         text-align: center;
     }
 }

 @media screen and (max-width: 320px) {
     .imagen-peli {
         margin-bottom: 0px;
         width: 15rem;
         height: 20rem;
     }
    .cardtext{
        max-width: 100%;
    }
 }
 */
/* ------- */ 
/* footer{
    background-color: #ff9f1c;
    text-align: center;
    margin: 3rem auto;
    width: 100%;
    display: flex;
}
 */

footer {
    height: auto;
    background-color: #24303c;
    width: 100vw;
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    margin: 0;
}
footer #info-gral-footer{
    display: flex;
    justify-content: space-around;
}
footer #info-gral-footer .info, footer #info-gral-footer .suscripcion{
    margin: 1em;
    padding: 0;
    line-height: 1.3em;
    font-size: 0.9em;
}
footer .copy{
    text-align: center;
    color: white;
    margin-bottom: 0.8em;

}
footer #info-gral-footer .info h4, footer #info-gral-footer .suscripcion h4, footer #info-gral-footer .redes h4 {
    margin-bottom: 0.8em;
    font-variant: small-caps;
    font-size: 1.3em;
    letter-spacing: 0.2em;
    font-family:'Alkatra', cursive; 
    text-shadow: 2px 2px 5px gray; 
}
footer #info-gral-footer .info a, footer #info-gral-footer .contacto a {
    text-decoration: none;
    color: whitesmoke; 
}

footer #info-gral-footer .info li {
    list-style-type: '>  '; 
    margin-bottom: 0.4em; 
}
footer #info-gral-footer .info li::marker{
    font-size: 0.6em;
}
footer #info-gral-footer .info a:hover{
    text-decoration: underline;
    color: #FFCC00;
}
footer #info-gral-footer .redes i{
    color: white;
    font-size: 1.1em;
    margin-right: 1em;
}

footer #info-gral-footer .redes {
    margin-top: 1.8em;
}
.btn-whatsapp img{
    width: 4.5em;
    position: fixed;
    right: 15px;
    bottom: 15px;
}
footer #info-gral-footer .suscripcion input{
    width: 50%;
    border-radius: 0.2em;
    padding: 0.3em;
    height: 2.2em;
    color: #24303c;
    outline: none;
    font-size: 0.8em;
    border: none;

}
footer #info-gral-footer .suscripcion input[type="submit"] {
    width: auto;
    height: 2.2em;
    background-color: #FFCC00;
    border: none;
    outline: none;
    font-weight: bold;
}


/* animacion */
@keyframes miMovimiento2 {
    0%{
        transform: translateX(-10em);
    }
    50%{
        transform: translateX(20em);
        
    }
    75%{
        transform: translateX(-20em);

    }
    100%{
        transform: translateX(20em);

    }
}
#animacion-logo{
    width: 10em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;

    animation-name: miMovimiento2;
    animation-duration: 5s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    animation-play-state: running; 
}