*{
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    background-color: rgb(78, 73, 73)
}

header{
    display: grid;
    background-color: rgb(154, 153, 153);
}

main{
    text-align: center;
    width: 100%;
    color: antiquewhite;
}

li{
    display: inline-block;
}

nav{
    background-color: lightblue;
    height: 30px;
    width: 100%;   
}

footer{
    text-align: center;
    margin: 20px auto;
    background-color: lightblue;
    width: 100%;
    display: flex;
}

img,svg{
    height: 25px;
}


#logo{
    display: block;

    background-color: black;
}
#logoimg{
    
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 1px;
    width:70px;
    height: 30px;
    
}
/*Tuve que separar el div y la imagen o se editaba todo a la vez*/


.imagen-peli{/*podria estar en las listas de peliculas en el inicio, el tamaño puede ser igual*/
    margin-top: 40px;
    margin-left: 150px;
    width: 180px;
    height: 260px;
    /* display: block; */
    /* float: left;
    vertical-align: middle;
    align-items: middle; */
    border-radius: 20px;
   }
 
