<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YAC - Login</title>
    <link rel="icon" type="image/jpg" href="img/logonegro.png">
    <link href="https://fonts.googleapis.com/css2?family=Alkatra&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/grid.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="stylesheet" href="./css/listado.css">
</head>

<body>
    <header>
        <nav>
            <a href="index.html"><img id="logoimg" src="img/logonegro.png" alt="logo"></a>
            <ul>
                <a href="./index.html"><li>Inicio</li></a>
                <a href="./tendencia.html"><li>Tendencia</li></a>
                <a href="./busqueda.html"><li>Buscar</li></a>
                <a href="./contacto.html"><li>Contacto</li></a>
            </ul>   
           <!--  <div id="search-tab">
                    <input type="text" placeholder="Buscar..." maxlength="150" minlength="3">
                    <button><i class="fa-solid fa-magnifying-glass"></i></button> 
            </div>  -->
            <div>
                <a href="./login.html"><i id="iconos" class="fa-solid fa-user"></i></a>
                <!-- <a href="./carrito.html"><i id="iconos" class="fa-solid fa-cart-shopping"></i></a> -->
            </div>
        </nav>
    </header>
    <div class="grid-container">
        <div class="encabezado">
            <img id="animacion-logo" src="img/logoamarillo.png" alt="logo">
        </div> 
        <main>
            <div class="formulario" id="app"> 
                <h3>Modificación de suscriptores de Peliculas YAC</h3> 
                <form @submit.prevent="obtenerUsuario"> 
                    <label for="usuario">Usuario:</label>
                    <input type="text" v-model="usuario"><br>
                    <button type="submit">Modificar Usuario</button> 
                    <a href="login.html" id="link-actualizar">Volver</a> 
                </form> 
                <div v-if="mostrarDatosUsuario"> 
                    <h3>Datos del Producto</h3> 
                    <form  @submit.prevent="guardarCambios"> 
                        <label for="nombreModificar">Nombre:</label> 
                        <input type="text" id="nombreModificar" v-model="nombre">
                        <br> 
                        <label for="apellidoModificar">Apellido:</label> 
                        <input type="text" id="apellidoModificar" v-model="apellido" >
                        <br> 
                        <label for="telModificar">Teléfono:
                        </label> 
                        <input type="number" id="telModificar" v-model="tel">
                        <br>
                        <label for="emailModificar">Email:
                        </label> 
                        <input type="text" id="emailModificar" v-model="email">
                        <br>
                        <label for="passwordModificar">Password:</label>
                        <input type="text" id="passwordModificar" v-model="password" >
                        <br> 
                        <button type="submit">Guardar Cambios</button> 
                        <a href="login.html" id="link-actualizar">Volver</a> 
                        <a href="listado.html" id="link-listado"> Listado de usuarios registrados</a>    
                        <a href="eliminar.html" id="link-eliminar"> Eliminar usuario</a>   

                    </form> 
                </div> 
            </div>

            
                   

            
        </main>

        <footer>
            <div id="info-gral-footer">
                <div class="info">
                    <h4>Información</h4>
                    <ul>
                        <li><a href="./tendencia.html">Catálogo de Peliculas</li></a>
                        <li><a href="./login.html">Log in</li></a>
                        <li><a href="./busqueda.html">Buscar películas</li></a>
                        <li><a href="./contacto.html">Contacto</li></a>
                    </ul>
                </div>
                <div class="suscripcion">
                    <h4>Suscribite al Newsletter</h4>
                    <input type="email" placeholder="mimail@mail.com">
                    <input type="submit" value="Suscribirme">
                    <div class="redes">
                        <h4>Seguinos</h4>
                        <a href="http://www.facebook.com" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                        <a href="http://www.instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                        <a href="http://www.youtube.com" target="_blank"><i class="fa-brands fa-youtube"></i></a>
                    </div>
                </div>
            </div> 
            <div class="copy">
                <h6>© 2023 YAC</h6>
            </div>  
        </footer>
    </div>
    <a href="index.html"><img id="logo-fijo" src="img/logoNEGRO.png" alt="logo"></a>

    <script src="https://kit.fontawesome.com/ba0ece2d64.js"></script>
    <!-- <script src="./js/login.js"></script> -->
    <script src="https://unpkg.com/vue@next"></script> 
    <script src="./js/actualizar.js"></script>
</body>
</html>